XMLschemas/subset/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:iso_639-3="http://niem.gov/niem/iso_639-3/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1">
	<xsd:annotation>
		<xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../appinfo/2.0/appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/fbi/2.0" schemaLocation="../../fbi/2.0/fbi.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/iso_639-3/2.0" schemaLocation="../../iso_639-3/2.0/iso_639-3.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../proxy/xsd/2.0/xsd.xsd"/>
	<xsd:simpleType name="AngularMinuteSimpleType">
		<xsd:annotation>
			<xsd:documentation>A data type for a minute of a degree, with a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:minInclusive>
			<xsd:maxExclusive value="60">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:maxExclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AngularMinuteType">
		<xsd:annotation>
			<xsd:documentation>A data type for a minute of a degree, with a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:AngularMinuteSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="AngularSecondSimpleType">
		<xsd:annotation>
			<xsd:documentation>A data type for a second of a minute, with a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0">
				<xsd:annotation>
					<xsd:documentation>The minimum value for an angular second.</xsd:documentation>
				</xsd:annotation>
			</xsd:minInclusive>
			<xsd:maxExclusive value="60">
				<xsd:annotation>
					<xsd:documentation>The maximum value for an angular second.</xsd:documentation>
				</xsd:annotation>
			</xsd:maxExclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AngularSecondType">
		<xsd:annotation>
			<xsd:documentation>A data type for a second of a minute, with a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:AngularSecondSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="BinaryType">
		<xsd:annotation>
			<xsd:documentation>A data type for a digital representation of an object encoded in a binary format.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:BinaryObject" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:BinaryDescriptionText" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ContactInformationType">
		<xsd:annotation>
			<xsd:documentation>A data type for how to contact a person or an organization.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:ContactInformationDescriptionText" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DateType">
		<xsd:annotation>
			<xsd:documentation>A data type for a calendar date.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GeographicElevationMeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measure of elevation at a location.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:MeasureType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:IdentificationID" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ImageType">
		<xsd:annotation>
			<xsd:documentation>A data type for a picture or visual representation of something.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="BinaryType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:BinaryType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LatitudeCoordinateType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement of the angular distance between a point on the Earth and the Equator.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:LatitudeDegreeValue" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:LatitudeMinuteValue" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:LatitudeSecondValue" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="LatitudeDegreeSimpleType">
		<xsd:annotation>
			<xsd:documentation>A data type for a degree of latitude.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:maxInclusive value="90">
				<xsd:annotation>
					<xsd:documentation>The maximum value for a latitude degree.</xsd:documentation>
				</xsd:annotation>
			</xsd:maxInclusive>
			<xsd:minInclusive value="-90">
				<xsd:annotation>
					<xsd:documentation>The minimum value for a latitude degree.</xsd:documentation>
				</xsd:annotation>
			</xsd:minInclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LatitudeDegreeType">
		<xsd:annotation>
			<xsd:documentation>A data type for a degree of latitude.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:LatitudeDegreeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LocationType">
		<xsd:annotation>
			<xsd:documentation>A data type for a geophysical location.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:LocationDescriptionText" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:LocationGeographicElevation" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:LocationTwoDimensionalGeographicCoordinate" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:LocationUTMCoordinate" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LongitudeCoordinateType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement of the angular distance between a point on the Earth and the Prime Meridian.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:LongitudeDegreeValue" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:LongitudeMinuteValue" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:LongitudeSecondValue" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="LongitudeDegreeSimpleType">
		<xsd:annotation>
			<xsd:documentation>A data type for a degree of longitude.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:maxExclusive value="180">
				<xsd:annotation>
					<xsd:documentation>The maximum value for a longitude degree.</xsd:documentation>
				</xsd:annotation>
			</xsd:maxExclusive>
			<xsd:minInclusive value="-180">
				<xsd:annotation>
					<xsd:documentation>The minimum value for a longitude degree.</xsd:documentation>
				</xsd:annotation>
			</xsd:minInclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LongitudeDegreeType">
		<xsd:annotation>
			<xsd:documentation>A data type for a degree of longitude.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:LongitudeDegreeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MeasurePointValueType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measure point value.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:MeasureValue" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="NonNegativeDecimalSimpleType">
		<xsd:annotation>
			<xsd:documentation>A data type for a decimal value with a minimum value of 0.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:minInclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="NonNegativeDecimalType">
		<xsd:annotation>
			<xsd:documentation>A data type for a decimal value with a minimum value of 0.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:NonNegativeDecimalSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="OrganizationType">
		<xsd:annotation>
			<xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:OrganizationIdentification" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:OrganizationPrimaryContactInformation" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:OrganizationUnitName" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameTextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a name by which a person is known, referred, or addressed.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ProperNameTextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:ProperNameTextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameType">
		<xsd:annotation>
			<xsd:documentation>A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
			<xsd:documentation>A data type for a human being.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonEthnicity" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonName" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonSex" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProperNameTextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="TextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a character string.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="niem-xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TwoDimensionalGeographicCoordinateType">
		<xsd:annotation>
			<xsd:documentation>A data type for a location identified by latitude and longitude.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:GeographicCoordinateLatitude" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:GeographicCoordinateLongitude" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UTMCoordinateType">
		<xsd:annotation>
			<xsd:documentation>A data type for a coordinate from the Universal Transverse Mercator (UTM) Coordinate System, which represents a location with a grid zone, an easting value, and a northing value.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:UTMEastingValue" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:UTMGridZoneID" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:UTMNorthingValue" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="BinaryBase64Object" type="niem-xsd:base64Binary" substitutionGroup="nc:BinaryObject" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A binary encoding of data.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="BinaryObject"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BinaryDescriptionText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A description of a binary object.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BinaryObject" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A binary encoding of data.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactInformationDescriptionText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A description of the methods available to contact a person or organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A full date.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="DateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DateRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A representation of a date.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DateTime" type="niem-xsd:dateTime" substitutionGroup="nc:DateRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A full date and time.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="DateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeographicCoordinateLatitude" type="nc:LatitudeCoordinateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A measurement of the angular distance between a point on the Earth and the Equator.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeographicCoordinateLongitude" type="nc:LongitudeCoordinateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A measurement of the angular distance between a point on the Earth and the Prime Meridian.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that identifies something.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LatitudeDegreeValue" type="nc:LatitudeDegreeType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that specifies the degree of a latitude. The value comes from a restricted range between -90 (inclusive) and +90 (inclusive).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LatitudeMinuteValue" type="nc:AngularMinuteType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that specifies a minute of a degree. The value comes from a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LatitudeSecondValue" type="nc:AngularSecondType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that specifies a second of a minute. The value comes from a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationDescriptionText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A description of a location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationGeographicElevation" type="nc:GeographicElevationMeasureType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A measure of the distance of a point on the Earth from sea level.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationTwoDimensionalGeographicCoordinate" type="nc:TwoDimensionalGeographicCoordinateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A location identified by a latitude and longitude.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationUTMCoordinate" type="nc:UTMCoordinateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A coordinate from the Universal Transverse Mercator (UTM) Coordinate System, which represents a location with a grid zone, an easting value, and a northing value.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LongitudeDegreeValue" type="nc:LongitudeDegreeType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that specifies the degree of a longitude. The value comes from a restricted range between -180 (inclusive) and +180 (exclusive).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LongitudeMinuteValue" type="nc:AngularMinuteType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that specifies a minute of a degree. The value comes from a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LongitudeSecondValue" type="nc:AngularSecondType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that specifies a second of a minute. The value comes from a restricted range of 0 (inclusive) to 60 (exclusive).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasurePointValue" type="nc:MeasurePointValueType" substitutionGroup="nc:MeasureValue" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A specific measurement value.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureValue"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasureValue" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A measurement value.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identification that references an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationName" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A name of an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationPrimaryContactInformation" type="nc:ContactInformationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A preferred means of contacting an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A date a person was born.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonEthnicity" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A cultural lineage of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonEthnicityText" type="nc:TextType" substitutionGroup="nc:PersonEthnicity" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A cultural lineage of a person.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="PersonEthnicity"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A first name of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonName" type="nc:PersonNameType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A combination of names and/or titles by which a person is known.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSex" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A gender or sex of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSexCode" type="fbi:SEXCodeType" substitutionGroup="nc:PersonSex" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A gender or sex of a person.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="PersonSex"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A last name or family name of a person.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UTMEastingValue" type="niem-xsd:nonNegativeInteger" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A distance east within a UTM zone.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UTMGridZoneID" type="niem-xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identifier of a UTM grid zone.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UTMNorthingValue" type="niem-xsd:nonNegativeInteger" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A distance north within a UTM zone.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Year" type="niem-xsd:gYear" substitutionGroup="nc:DateRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A year.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="DateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="YearMonth" type="niem-xsd:gYearMonth" substitutionGroup="nc:DateRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A year and month.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="DateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationUnitName" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A name of a high-level division of an organization.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A remark, explanation, or observation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Language" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A data concept for a system of words or symbols used for communication.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LanguageCode" type="iso_639-3:LanguageCodeType" substitutionGroup="nc:Language" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A system of words or symbols used for communication.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
